[Desktop Entry]
Categories=Network
Exec=firefox --class=wah-B1lgw0pv --name=wah-B1lgw0pv --profile=/home/vArch/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/profiles/firefox/B1lgw0pv --no-remote https://www.disneyplus.com
Icon=/home/vArch/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/icons/B1lgw0pv.png
Name=Disney Plus
StartupWMClass=wah-B1lgw0pv
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
X-WAH=true
X-WAH-BROWSER-ID=firefox_firefox
X-WAH-ID=B1lgw0pv
X-WAH-ISOLATE=true
X-WAH-MAXIMIZE=false
X-WAH-PROFILE=/home/vArch/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/profiles/firefox/B1lgw0pv
X-WAH-URL=https://www.disneyplus.com
X-WAH-VERSION=1.0.1

