[Desktop Entry]
Categories=Network
Exec=firefox --class=wah-4Jx1dG2f --name=wah-4Jx1dG2f --profile=/home/vArch/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/profiles/firefox/4Jx1dG2f --no-remote https://www.netflix.com
Icon=/home/vArch/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/icons/4Jx1dG2f.png
Name=Netflix
StartupWMClass=wah-4Jx1dG2f
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
X-WAH=true
X-WAH-BROWSER-ID=firefox_firefox
X-WAH-ID=4Jx1dG2f
X-WAH-ISOLATE=true
X-WAH-MAXIMIZE=false
X-WAH-PROFILE=/home/vArch/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/profiles/firefox/4Jx1dG2f
X-WAH-URL=https://www.netflix.com
X-WAH-VERSION=1.0.1

